@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800&display=swap');
@import "./global.scss";
@import "./variables.scss";

body {
    scroll-behavior: smooth;

    header {

        nav.navbar {
            position: absolute;
            top: 0;
            height: 10rem;
            background-color: transparent;
            width: 100%;
            z-index: 100000;
            padding: 0 4.5rem;
            justify-content: space-between;
            display: flex;

            .navbar-collapse {
                flex-grow: 0;

                .navbar-nav,
                .nav {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    text-align: center;

                    &-item {
                        padding: 0 1.7rem;

                        @media screen and (max-width: 1000px) {
                            padding: 1.5rem 0;
                            margin-left: 4rem;
                            border-bottom: 1px solid #eee;
                            width: 100%;
                            text-align: left;

                            &:last-child {
                                border-bottom: none;
                            }
                        }

                        a {
                            font-family: $font-family;
                            font-size: $text-size-normal;
                            color: $text-color;
                            font-weight: 300;
                            letter-spacing: 0.77px;
                            text-transform: capitalize;
                            height: 100%;
                            padding: 0;
                            line-height: initial;

                            &:hover,
                            &:active {
                                color: $primary-color !important;
                            }

                            &.active {
                                color: $primary-color !important;
                            }

                            @media screen and (max-width: 1000px) {
                                color: #333;
                                font-size: 1.3rem;
                            }

                        }
                    }
                }

                @media all and (max-width: 1000px) {
                    position: absolute;
                    z-index: 100;
                    top: 100px;
                    left: 0;
                    right: 0;
                    background: #fff;

                    ul {
                        padding-left: 4rem;
                    }
                }
            }

            .navbar-brand {
                text-align: center;
                margin-right: auto;
                order: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;

                    &.mobile-screens {
                        display: none;
                        height: 6.5rem;
                        margin-left: 2.6rem;

                        @media all and (max-width: 1000px) {
                            display: block;
                        }

                        @media all and (max-width: 770px) {
                            margin-left: 0;
                        }
                    }

                    &.lg-screens {
                        display: block;

                        @media all and (max-width: 1000px) {
                            display: none;
                        }
                    }
                }

                @media all and (max-width: 1000px) {
                    margin-right: 0;
                    order: 2;
                    flex-grow: 1;
                }
            }

            .navbar-toggler {
                border: none;
            }

            @media all and (max-width: 1000px) {
                position: static;
                background-color: #fff;
                order: 2;
            }

            @media all and (max-width: 770px) {
                justify-content: start;
            }

            .more-button {
                @media all and (max-width: 1000px) {
                    order: 3;
                    border: none;
                    margin: 0;
                }

                @media all and (max-width: 770px) {
                    display: none;
                }

            }

            @media all and (max-width: 770px) {
                position: relative;
            }
        }

        .swiper {
            position: relative;

            .swiper-wrapper {
                .swiper-slide {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .content {
                        position: absolute;
                        pointer-events: auto;
                        left: 18%;
                        top: 28%;
                        z-index: 5;
                        max-width: 63.7rem;
                        color: #fff;
                        font-size: 10px;

                        @media screen and (max-width: 1000px) {
                            font-size: 6px;
                            top: 0;
                            bottom: 0;
                            left: 10%;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            gap: 25px;
                        }


                        h1.content-header {
                            font-size: 6.6em;
                            color: #fff;
                            letter-spacing: 0px;
                            font-weight: 600;

                            span {
                                color: $primary-color;
                            }
                        }

                        h3.content-subheader {
                            font-size: 6.6em;
                            letter-spacing: 0px;
                            font-weight: 300;
                        }

                        p.content-text {
                            font-size: 2.2em;
                            margin: 3rem 0;
                            font-weight: 200;

                            @media all and (max-width: 700px) {
                                display: none;
                            }
                        }

                        button.watch-video {
                            border: none;
                            background-color: $primary-color;
                            width: 8em;
                            height: 8em;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            i.fa-play {
                                font-size: 4em;
                                color: #fff;
                            }
                        }

                        .button-label {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    section.prespective {
        padding: 14.5rem 0;
        display: flex;
        justify-content: center;
        background-image: url("../../assets/images/background-1.jpg");
        background-color: #1c1a27;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        gap: 3rem;

        .title {

            h2 {
                color: #fff;
                font-size: 5rem;
                line-height: 5rem;
                font-style: normal;
                font-weight: 300;
                text-align: center;

                b {
                    margin-right: 1.2rem;
                }
            }

            hr {
                height: 5px;
                background-color: #ea3266;
                width: 5rem;
                margin: 3.5rem auto;
                margin-bottom: 6rem;
                opacity: 1;
            }

        }

        .feature {
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            padding: 0;

            &-card,
            .item {
                padding: 72px 31px 82px 41px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #2f3140;
                width: 38rem;
                min-width: 38rem;

                @media all and (max-width:1200px) {
                    width: 90%;
                    margin: 0 auto;
                    min-width: 0;
                }

                &-img {
                    width: 10rem;
                    height: 10rem;
                    margin-bottom: 4.5rem;
                }

                &-title {
                    font-size: 2.7rem;
                    color: #fff;
                    font-weight: 300;
                    margin-bottom: 2rem;

                    strong {
                        font-weight: 600;
                        margin-right: 0.5rem;
                    }
                }

                &-description {
                    font-size: 1.6rem;
                    line-height: 26px;
                    font-style: normal;
                    text-align: center;
                    margin-bottom: 3.2rem;
                }

            }
        }
    }

    .product-wrapper {
        background-image: url("../../assets/images/background-2.jpg");
        background-color: #1c1a27;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .product-brief {
            font-size: 10px;

            .info {
                padding-left: 10%;
                padding-right: 2%;
                max-width: 42rem;
                box-sizing: content-box;


                @media all and (max-width: 1106px) {
                    padding: 0;
                }

                .title {

                    h2 {
                        color: #fff;
                        font-size: 5em;
                        line-height: 5rem;
                        font-style: normal;
                        font-weight: 300;

                        b {
                            margin-right: 1.2rem;
                        }
                    }

                    hr {
                        height: 5px;
                        background-color: #ea3266;
                        width: 5rem;
                        margin: 3.5rem 0;
                        margin-bottom: 6rem;
                        opacity: 1;
                    }

                    @media all and (max-width: 1106px) {
                        padding: 0 1rem;
                    }
                }

            }

            .description {

                p {
                    color: #c0c0c1;
                    font-size: 1.6em;
                    line-height: 30px;
                    font-weight: 300;

                }

                .more-button {
                    margin-left: 0;
                    margin-top: 3.2rem;
                }

                @media all and (max-width: 1106px) {
                    padding: 0 1rem;
                }

            }

            .images-container {
                position: relative;
                display: flex;

                @media all and (max-width: 1106px) {
                    margin-bottom: 2rem;
                    width: 90% !important;
                    margin-right: 2rem;
                }

                img {
                    height: fit-content;
                    width: 100%;
                    z-index: 1;
                    object-fit: contain;

                }

                img.active {
                    position: absolute;
                    right: -10%;
                    top: 0;
                    z-index: 0;
                    transform: scale(0.9);
                }

            }

            @media all and (max-width: 486px) {
                font-size: 9px;
            }
        }

    }

    section.product-preview {
        img {
            max-width: 1386px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    section.experiences {
        background-color: #1b1926;
        overflow: hidden;
        position: relative;

        .swiper-slide {
            width: fit-content;

            @media all and (max-width: 1000px) {
                width: 90%;
            }

            img {
                width: 100%;
            }
        }

        .ex-swiper-pagination {
            display: flex;
            justify-content: center;
            padding: 6rem;

            .swiper-pagination-bullet {
                width: 1.5rem;
                height: 1.5rem;
                margin: 0 10px;
            }
        }

        .navigations-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1849px;
            z-index: 10000;

            @media all and (max-width: 1000px) {
                display: none;
            }

            .navigations {
                position: relative;
            }
        }


        .exper-next,
        .exper-prev {
            top: calc(50% - 70px);

            &:after {
                background-color: #fff;
                width: 9rem;
                height: 9rem;
                border-radius: 50%;
                color: #31c8a2 !important;
                padding: 0;
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
            }
        }

        .exper-next {
            right: 22%;
        }

        .exper-prev {
            left: 22%;
        }
    }

    .experiences-wrapper {
        background-image: url("../../assets/images/background-3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #1b1926;

        .comparative {
            padding-top: 200px;
            text-align: center;

            .sec-title {

                h2 {
                    color: #fff;
                    font-size: 5rem;
                    line-height: 5rem;
                    font-style: normal;
                    font-weight: 300;
                    text-align: center;

                    b {
                        margin-right: 1.2rem;
                    }
                }

                hr {
                    height: 5px;
                    background-color: #ea3266;
                    width: 5rem;
                    margin: 3.5rem auto;
                    margin-bottom: 6rem;
                    opacity: 1;
                }

            }

            .table {
                max-width: 1230px;
                margin: 0 auto;
                text-align: center;
                font-size: 10px;
                border-bottom: 1px solid #4b4d62;
                padding-left: 1rem;

                &>* {
                    display: grid;
                    grid-template-columns: 55% 1fr 1fr 1fr;
                    border-bottom: 1px dashed #4b4d62;

                    @media all and (max-width:770px) {
                        grid-template-columns: 1fr 1fr 1fr;
                    }

                    &:nth-child(even) {
                        background-color: #3e4053;
                    }

                    &:nth-child(odd) {
                        background-color: #323444;
                    }

                    &:first-child>* {
                        color: #fff;
                        font-size: 2em;
                        line-height: initial;
                        font-weight: 200;
                    }

                    &:last-child {
                        padding: 2.3em 3.0em;

                        img {
                            width: fit-content;
                        }
                    }

                    &:last-child>* {
                        font-size: 1.5em;
                        font-weight: 300;
                        font-style: normal;
                        text-transform: none;
                        letter-spacing: 0.2px;
                        color: #ffffff;
                    }
                }

                &-col {
                    padding: 1.2em 0em;
                    font-size: 1.6rem;
                    line-height: initial;
                    color: #c0c0c1;
                    font-style: normal;
                    font-weight: 300;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-right: 1px solid #4b4d62;

                    span {
                        display: none;

                        @media all and (max-width:770px) {
                            display: block;
                        }
                    }

                    &:first-child {
                        text-align: left;
                        padding: 2.3rem 3rem;
                        justify-content: start;
                        align-items: start;

                    }

                    @media all and (max-width:770px) {
                        &:first-child {
                            display: none;
                        }
                    }

                    i {
                        font-size: 1.5em;

                        &.fa-check {
                            color: #ea3266;
                        }

                        &.fa-xmark {
                            color: #a9a9a9;
                        }
                    }

                }


                @media all and (max-width:770px) {
                    font-size: 8px;
                }
            }

            .features-group {
                max-width: 1230px;
                margin: 0 auto;
                justify-content: space-between;
                padding-top: 140px;
                padding-bottom: 65px;
                padding-left: 1rem;
                color: #c0c0c1;
                font-size: 1.6rem;
                text-align: left;
                flex-wrap: wrap;
                gap: 10px;

                .feature-title {
                    font-size: 2rem;
                    font-weight: 300;
                    color: #fff;
                    margin-bottom: 2.4rem;
                }

                .list {
                    &-item {
                        color: #c0c0c1;
                        font-size: 1.6rem;
                        margin-bottom: 1rem;

                        &::before {
                            content: '';
                            display: inline-block;
                            width: 0.9rem;
                            height: 0.9rem;
                            background-color: #ea3266;
                            border-radius: 50%;
                            margin-right: 1rem;
                        }
                    }

                    @media all and (max-width:770px) {
                        margin-bottom: 5rem;
                    }
                }
            }
        }
    }

    .logos-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1b1a26;

        .logo {
            margin-bottom: 1rem;
            padding: 0;
            padding-right: 0.5rem;
            padding-left: 0.5rem;

            img {
                width: 100%;
                background-color: #2f3140;
            }
        }
    }

    section.map {
        background-color: #1b1926;

        img {
            width: 100%;
            max-height: 55rem;
            object-fit: cover;
        }
    }

    footer {

        .footer-menu,
        .menu {
            padding: 10rem 4.5rem;
            background-color: #1b1a26;

            &-list,
            .list {

                &-title {
                    font-size: 2rem;
                    color: #fff;
                    font-weight: 300;
                    margin-bottom: 2rem;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    li {
                        max-width: 28.5rem;
                        display: flex;
                        align-items: baseline;
                        gap: 10px;

                        img {
                            margin-bottom: 3rem;
                        }

                        i {
                            margin-top: 5px;
                        }

                        a {
                            text-decoration: none;
                            color: #b0b0b0;
                            font-size: 1.5rem;
                            line-height: 2.5rem;
                            font-weight: 300;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }

                @media all and (max-width: 1000px) {
                    margin-bottom: 3rem;
                }


            }
        }

        .copyrights {
            background-color: #2f3140;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: #b0b0b0;
            line-height: 35px;
            font-weight: 300;
            min-height: 5.3rem;

            a {
                text-decoration: none;
                color: inherit;

            }
        }
    }

    .toUp-button {
        width: 4.5rem;
        height: 4.5rem;
        border: 2px solid rgb(234, 50, 102);
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 7rem;
        z-index: 10000;
        color: #fff;
        right: 2rem;
        border-radius: 50%;
        color: rgb(234, 50, 102);
        font-size: 2.3rem;
    }

    .buy-now {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: fixed;
        bottom: 50rem;
        right: 0;
        line-height: initial;
        z-index: 10000;

        button {
            border: none;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #272727;
            font-size: 1.4rem;
            gap: 1rem;
            height: 5.5rem;
            padding: 0 2rem;

            b {
                font-size: 2.4rem;
                font-weight: 400;
            }

            &.buy {
                background-color: #ea3266;
                color: #fff;
                font-weight: 1.2rem;
            }
        }
    }
}