$primary-color:#ea3266;
$secondary-color:#c0c0c1;

$text-size-headers-xxl:6.6rem;
$text-size-headers-xl:5rem;
$text-size-headers-l:2.7rem;
$text-size-headers-m:2.2rem;
$text-size-normal:1.7rem;
$text-size-buttons:1.5rem;
$text-color:#fff;
$font-family:'Rubik',
sans-serif;

$buttons-text-hover:#2f3140;
$buttons-text:$text-color;
$buttons-background-color:$primary-color;